/* =============== HEADER SECTION =============== */
header#header-section {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;

  #write-post:hover {
    background-color: $secondary-color;
    transition: $main-transition;
    -webkit-transition: $main-transition;
    -moz-transition: $main-transition;
    -ms-transition: $main-transition;
    -o-transition: $main-transition;
    a {
      color: $white-color;
    }
  }

  // header container
  .header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

    // branding
    .brand-info {
      .brand-title {
        font-size: 40px;
        font-weight: bold;
        color: $primary-color;
        text-transform: uppercase;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      .brand-title:hover {
        color: $secondary-color;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -moz-transition: $main-transition;
        -ms-transition: $main-transition;
        -o-transition: $main-transition;
      }
    }

    // navbar toggle button
    .navbar-toggle {
      #btn-navbar-toggle {
        font-size: 25px;
        margin-top: 5px;
        margin-left: 10px;
        color: $black-color;
        background-color: $white-color;
        border: 3px solid $primary-color;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
        cursor: pointer;
      }
      #btn-navbar-toggle:hover {
        color: $white-color;
        background-color: $primary-color;
        transition: $main-transition;
        -webkit-transition: $main-transition;
        -moz-transition: $main-transition;
        -ms-transition: $main-transition;
        -o-transition: $main-transition;
      }
    }

    // navbar menu
    nav.header-navbar {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li a {
          font-size: 20px;
          color: $black-color;
          padding: 0 10px;
        }
        li a:hover {
          font-weight: bold;
          color: $secondary-color;
          transition: $main-transition;
          -webkit-transition: $main-transition;
          -moz-transition: $main-transition;
          -ms-transition: $main-transition;
          -o-transition: $main-transition;
        }

        // active class
        .active {
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .navbar-toggle {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  nav.header-navbar {
    display: none;
  }
}
